:root{
    --primary-color: #b91d73;
    --secondary-color: #12c2e9;
    --danger-color: #ff3c32;
    --cta-color: #fba905;
    --dark-color: #343434;
    --dark-color2: #666;
    --background-color: #222;
    --text-color: #eee;
}

$primary-color: var(--primary-color);
$secondary-color: var(--secondary-color);
$danger-color: var(--danger-color);
$cta-color: var(--cta-color);
$dark-color: var(--dark-color);
$dark-color2: var(--dark-color2);
$background-color: var(--background-color);
$text-color: var(--text-color);

