@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@339&display=swap');
$main-title: "Oxanium";
$big-title: 600;
$regular-title: 400;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@305&display=swap');
$main-font: "Poppins";
$font-regular: 400;
$font-bold: 600;

@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@305&display=swap');
$second-font: "Rokkitt";
$font-regular2: 400;
$font-bold2: 600;

